__pycache__/
*.pyc
.venv/
.DS_Store
*.csv
*.txt
*.tsv
!requirements.txt
!Subject7/**/*.txt
!Subject8/**/*.txt
!Subject9/**/*.txt
!Subject2GloveOff/**/*.txt
!Subject2GloveOn/**/*.txt
!SubjectFast/**/*.txt
!SubjectSlow/**/*.txt
!SubjectNorm/**/*.txt
!Subject3Ball/**/*.txt
